*.zip
**/overrides/config/fantasticlib/reference
**/overrides/config/splash.properties
**/overrides/config/jei/worldSettings.cfg
**/overrides/config/spark/activity.json
**/overrides/config/teamreborn/configData.nbt
.idea