.idea/*
export/overrides/config/fantasticlib/reference/
export/overrides/config/jei/worldSettings.cfg
export/overrides/mods/memory_repo/
build/*/
zips/*
.gradle/*
overrides/config/jei/worldSettings.cfg
overrides/config/InvTweaks/InvTweaks.cfg
overrides/config/itemphysic.json
overrides/config/itlt.cfg
overrides/config/globalgamerules.cfg
/overrides/config/voicechat
/overrides/config/TwitchIntegration
overrides/config/twitchintegration.cfg
overrides/config/teamreborn/configData.nbt
/overrides/ChatTweaks
overrides/config/chattweaks.cfg
/overrides/config/ChatTweaks
overrides/config/chunkbase_villageinfo_ssp.cfg
overrides/config/enchantmentcontrol/names.txt
overrides/config/enchantmentcontrol/descriptions.txt
/overrides/config/fantasticlib/reference
overrides/config/fw.cfg
overrides/config/globalgamerules.cfg
overrides/config/potioncontrol/descriptions.txt
overrides/config/potioncontrol/names.txt
/overrides/config/potioncontrol/potions/inferred-inactive
/overrides/config/potioncontrol/potiontypes/inferred-inactive
overrides/config/InvTweaks/InvTweaks.cfg
overrides/config/itemphysic.json
overrides/config/itlt.cfg
overrides/mods/memory_repo/net/ilexiconn/llibrary-core/1.0.11-1.12.2/llibrary-core-1.0.11-1.12.2.jar.meta
overrides/mods/memory_repo/net/ilexiconn/llibrary-core/1.0.11-1.12.2/llibrary-core-1.0.11-1.12.2.jar
overrides/mods/memory_repo/com/github/mcjty/mcjtytools/0.0.21/mcjtytools-0.0.21.jar.meta
overrides/mods/memory_repo/com/github/mcjty/mcjtytools/0.0.21/mcjtytools-0.0.21.jar
