# Configuration file

general {

    ##########################################################################################################
    # general settings
    #--------------------------------------------------------------------------------------------------------#
    # General settings for core Amphithere mechanics.
    ##########################################################################################################

    "general settings" {
        # Enable or disable the crafting and use of Amphithere Armor.
        B:"Enable Amphithere Armor"=false

        # Enabling and Disabling Crystal Feather
        B:"Enable Crystal Feather"=false

        # Enables a set bonus for full silver armor on Amphitheres and Dragons, granting the 'Cure' effect if PotionCore is installed.
        B:"Enable Silver Armor Set Bonus"=false

        # If this is set to true then all armor and beaks are cosmetic items that give no extra armor or damage to Amphitheres
        B:"Make Armor/Beak a Cosmetic"=false
    }

    ##########################################################################################################
    # xxl chocolate cookie
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to XXL Chocolate Cookie buff.
    ##########################################################################################################

    "xxl chocolate cookie" {
        # Enabling and Disabling XXL Cookie
        B:"Enable Cookie"=false

        # Duration of the XXL Chocolate Cookie's health boost effect in seconds.
        # Min: 1
        # Max: 2147483647
        I:"XXL Chocolate Cookie Buff Duration (Seconds)"=10800

        # The strength of the Health Boost effect from the XXL Chocolate Cookie.
        # Each level adds 4 health (2 hearts).
        # Min: 1
        # Max: 255
        I:"XXL Chocolate Cookie Effect Strength"=9
    }

    ##########################################################################################################
    # shivaxi amphithere
    #--------------------------------------------------------------------------------------------------------#
    # Settings for Shivaxi Amphithere.
    ##########################################################################################################

    "shivaxi amphithere" {
        # Enables the Shivaxi variant of the Amphithere to spawn in the world.
        B:"Enable Shivaxi Amphithere"=false

        # The base attack damage of the Shivaxi Amphithere.
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"Shivaxi Amphithere Attack Damage"=69.0

        # The base maximum health of the Shivaxi Amphithere.
        # Min: 1.0
        # Max: 1.7976931348623157E308
        D:"Shivaxi Amphithere Max Health"=500.0

        # Sets the spawn chance for the Shivaxi Amphithere.
        # The chance is 1 in X, where X is this number. Higher numbers make it rarer.
        # Min: 1
        # Max: 2147483647
        I:"Shivaxi Amphithere Spawn Chance"=1000
    }

    ##########################################################################################################
    # mixin options
    #--------------------------------------------------------------------------------------------------------#
    # Mixins Options & Toggles
    ##########################################################################################################

    "mixin options" {
        # With this mixin Amphithere will have taming damage based from other damage increasing sources.
        # For instance if an Amphithere has strength effect then Amphitheres taming damage will be increased.
        # The taming damage cannot go lower from the amount in InF amphithere taming damage config.
        # If the taming damage is 3 then it will never go lower than 3 meaning weakness does nothing.
        B:"Advanced Amphithere Taming Damage (Limited in ROTN)"=false

        # Sets the third-person camera view distance when riding an Amphithere.
        # Min: 1
        # Max: 10
        I:"Amphithere Riding Camera Distance"=3

        # Can Amphithere pass trough leaves? (If true then its bad with dynamic trees leaves physics)
        B:"Amphithere pass trough leaves"=false

        # Defines the healing amount of Cocoa Beans.
        # An Amphithere's max health is divided by this number to determine the healing amount.
        # Default: 10 (heals 10% of max HP).
        # Min: 2
        # Max: 20
        I:"Cocoa Bean Healing Divisor"=10

        # Enables an inventory for tamed Amphitheres, accessible by shift-right-clicking.
        B:"Enable Amphithere Inventory"=false

        # With this mixin, the dragon 3rd person view in F5 can also be used with amphis
        B:"Enable Amphithere View"=true

        # With this mixin, feeding coco beans to amphithere will heal them 10% of their max hp instead 5 fixed amount
        B:"Enable Cocoa Bean Heal Change"=false

        # Can only Male with Female Amphithere breed with each other
        B:"Male + Female Breeding"=false
    }

}


