# Configuration file

general {
    # Config Versions help inform modpack makers/config users if changes have been made to the config between updates. These differ from main versioning, since the config file is static.
    # Basically, you compare the current default of this value, to the default of when you generated it.
    # 
    # The versioning follows:
    # 0.0.x - Default values have been slightly adjusted.
    # 0.x.0 - Config options have been added.
    # x.0.0 - Previous Config Options have been completely overhauled and/or removed. Creating a fresh file is recommended.
    S:configVersion=1.1.0

    ##########################################################################################################
    # block
    #--------------------------------------------------------------------------------------------------------#
    # Config related to blocks
    ##########################################################################################################

    block {

        ##########################################################################################################
        # arcanebrazier
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Arcane Brazier
        ##########################################################################################################

        arcanebrazier {
            # A list of enchantments that cannot be set into the Brazier. This does not prevent existing braziers from removing it still.
            S:burningEnchantBlacklist <
                minecraft:binding_curse
                minecraft:vanishing_curse
             >

            # A list of items the Arcane Brazier cannot strip Enchantments from.
            S:burningItemBlacklist <
                enchanter_tools:enchanted_inkwell
             >

            # Colliding with a lit brazier will cause damage.
            B:collisionDamage=true

            # How much Durability an item loses when an enchantment is stripped via the Arcane Brazier. Converted to a percent of the item's Max Durability. 
            # Min: -1.0
            # Max: 1.0
            D:durabilityCost=1.0

            # Enable the Arcane Brazier.
            B:enable=false
        }

        ##########################################################################################################
        # chiseledbookshelf
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Chiseled Bookshelf
        ##########################################################################################################

        chiseledbookshelf {
            # Books that can be placed into the Chiseled Bookshelf.
            S:acceptedBooks <
                minecraft:book
                minecraft:writable_book
                minecraft:written_book
                minecraft:enchanted_book
                minecraft:knowledge_book
                enchanter_tools:extracting_book
                ancientbeasts:shield_book
                ancientbeasts:bestiary
                ee:end_info_book
                harkenscythe:ancient_necronomicon
                harkenscythe:carnage_book
                harkenscythe:shadow_book
                harkenscythe:refresh_tome
                harkenscythe:reaper_guidebook
                quark:ancient_tome
             >

            # Item Ids that contain these words can be placed into the Chiseled Bookshelf.
            S:acceptedNames <
                book
                tome
                lexicon
                nomicon
                manual
                knowledge
                pedia
                compendium
                guide
                codex
                dictionary
                journal
                tablet
                grimoire
                bestiary
             >

            # Enable the Chiseled Bookshelf.
            B:enable=false
        }

        ##########################################################################################################
        # ponderingorb
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Pondering Orb
        ##########################################################################################################

        ponderingorb {
            # Enable the Pondering Orb.
            B:enable=true

            # How long (in ticks) the cooldown for Enchanting Table re-rolls is.
            # Min: -1
            # Max: 999999
            I:orbRerollTickCooldown=5

            # How many Levels are spent to re-roll the Enchanting Table using the Pondering Orb.
            # Min: 0
            # Max: 10000
            I:orbRerollXPCost=1

            # How much XP is given by pondering the orb. Setting to 0 disables any free XP.
            # Min: 0
            # Max: 10000
            I:ponderingExperience=11

            # The maximum distance from the pondering orb the player can be to receive free XP.
            # Min: 0
            # Max: 16
            I:ponderingRange=8

            # Free XP requires the player to be looking directly at the Pondering Orb.
            B:ponderingRequiresLook=true

            # How long (in seconds) the orb checks for pondering players.
            # Min: 0
            # Max: 9999
            I:ponderingTimer=20
        }

    }

    ##########################################################################################################
    # item
    #--------------------------------------------------------------------------------------------------------#
    # Config related to Items
    ##########################################################################################################

    item {

        ##########################################################################################################
        # extractingbook
        #--------------------------------------------------------------------------------------------------------#
        # All config for blocks related to Trees
        ##########################################################################################################

        extractingbook {
            # Enable the Extracting Book.
            B:enable=false

            # A list of enchantments that cannot be extracted via the Extracting Book.
            S:extractEnchantBlacklist <
                minecraft:binding_curse
                minecraft:vanishing_curse
             >

            # A list of items the Extracting Book cannot pull Enchantments from.
            S:extractItemBlacklist <
                enchanter_tools:enchanted_inkwell
             >
        }

        ##########################################################################################################
        # enchantedeightball
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Enchanted 8 Ball
        ##########################################################################################################

        enchantedeightball {
            # Loot Tables the Enchanted 8 Ball will be injected into. Non-replacing.
            S:eight_ball_lootTables <
             >

            # Enable the Enchanted 8 Ball.
            B:enable=false

            # Sets fortune-telling to be exclusive to an 8 Ball that is Enchanted.
            B:enchantedDivination=true
        }

        ##########################################################################################################
        # inkwell
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Enchanted Inkwell
        ##########################################################################################################

        inkwell {
            # Enable the Enchanted Inkwell.
            B:enable=true

            # Loot Tables the Enchanted Inkwell will be injected into. Non-replacing.
            S:inkwell_lootTables <
                minecraft:chests/simple_dungeon=0.0001
                minecraft:chests/abandoned_mineshaft=0.001
                minecraft:chests/desert_pyramid=0.001
                minecraft:chests/end_city_treasure=0.001
                iceandfire:fire_dragon_female_cave=0.001
                iceandfire:fire_dragon_male_cave=0.001
                iceandfire:lightning_dragon_female_cave=0.001
                iceandfire:lightning_dragon_male_cave=0.001
                iceandfire:ice_dragon_female_cave=0.001
                iceandfire:ice_dragon_male_cave=0.001
                iceandfire:graveyard_chest=0.001
                iceandfire:gorgon=0.1
             >
        }

        ##########################################################################################################
        # lapisrune
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Lapis Rune
        ##########################################################################################################

        lapisrune {
            # Registers Lapis Rune Types.
            # Formatted as "[Name]-[Item]-[Level Requirement Multiplier]-[Cost Multiplier]-[Whitelisted Enchantment];[Whitelisted Enchantment]...-[Blacklisted Enchantment];[Blacklisted Enchantment]..."
            # 
            # [Name] - The ID of the item (appended with '_lapis_rune').
            # [Item] - The item this rune will mimic in the table (such as a pickaxe rune getting pickaxe enchantments). Defaults to none.
            # [Level Requirement Multiplier] - Multiplies the minimum levels required for each slot. Defaults to 1.0.
            # [Cost Multiplier] - Multiplies the experience consumed upon enchanting. Defaults to 1.0.
            # [Whitelisted Enchantment] - Enchantments that are in the enchanting pool. Enchants already available to the mimicked item do not need to be copied here.
            # [Blacklisted Enchantment] - Enchantments that will never appear in the enchanting pool.
            S:runeTypes <
             >
        }

        ##########################################################################################################
        # obsidianburnisher
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Obsidian Burnisher
        ##########################################################################################################

        obsidianburnisher {
            # How much Durability the targeted item loses when the Burnisher is used on it. Converted to a percent of the item's Max Durability. 
            # Min: -1.0
            # Max: 1.0
            D:durabilityCost=0.1

            # Enable the Obsidian Burnisher.
            B:enable=false

            # How much Repair Cost is removed by using the Burnisher.
            # Min: -100
            # Max: 100
            I:repairCostAltering=-2

            # Determines when the 'Anvil Uses' tooltip will appear on valid items while the obsidian Burnisher is in the player's inventory.
            # ALWAYS: The tooltip will always display
            # SHIFT: The tooltip will only display when the shift key is held
            # ANVIL: The tooltip will only display when 
            # DISABLED: The tooltip will never display
            # Valid values:
            # ALWAYS
            # SHIFT
            # ANVIL
            # DISABLED
            S:tooltipVisibility=SHIFT
        }

    }

    ##########################################################################################################
    # potioneffects
    #--------------------------------------------------------------------------------------------------------#
    # Config related to Potion Effects
    ##########################################################################################################

    potioneffects {

        ##########################################################################################################
        # comprehension
        #--------------------------------------------------------------------------------------------------------#
        # Config for the Comprehension effect
        ##########################################################################################################

        comprehension {
            # Makes any mob set as a boss immune to Comprehension.
            B:bossesAreBlacklisted=true

            # Enable the Comprehension effect.
            B:enable=true

            # A list of entities that are immune to Comprehension.
            S:entityBlacklist <
                minecraft:wither
             >

            # How long Comprehension is given (in ticks) to mobs near a Bottle O' Enchanting's impact. -1 Disables this.
            # Min: -1
            # Max: 2147483647
            I:grantedByBottleOEnchanting=400
        }

    }

}


