# Configuration file

general {

    ##########################################################################################################
    # client options
    #--------------------------------------------------------------------------------------------------------#
    # Client-Side Options
    ##########################################################################################################

    "client options" {
        # Ignores whitelists and allows everything
        B:"Allow For Everything"=false

        # Blacklisted entity classes from handling, you will not be able to continuously attack any entity that extends these classes
        S:"Entity Class Blacklist" <
            net.minecraft.entity.passive.EntityHorse
            net.minecraft.entity.item.EntityArmorStand
            net.minecraft.entity.passive.EntityVillager
            net.minecraft.entity.item.EntityItemFrame
         >

        # Item classes whitelisted for handling
        S:"Item Class Whitelist" <
            net.minecraft.item.ItemSword
            net.minecraft.item.ItemAxe
            com.mujmajnkraft.bettersurvival.items.ItemBattleAxe
            com.mujmajnkraft.bettersurvival.items.ItemDagger
            com.mujmajnkraft.bettersurvival.items.ItemHammer
            com.mujmajnkraft.bettersurvival.items.ItemNunchaku
            com.lycanitesmobs.core.item.equipment.ItemEquipment
         >

        # Item ids in the format "domain:itemname" blacklisted from handling
        S:"Item ID Blacklist" <
         >

        # Item ids in the format "domain:itemname" whitelisted for handling
        S:"Item ID Whitelist" <
         >

        # Use RLCombat's offhand blacklist for targeting entities, forcing manual clicks to attack
        B:"RLCombat Entity Blacklist"=true

        # Automatically attack while using offhand weapon
        B:"RLCombat Offhand"=true

        # Allows offhand nunchakus to be usable without a spinning mainhand one
        B:"RLCombat Offhand Nunchaku"=true
    }

}


