# Configuration file

general {

    ##########################################################################################################
    # mod compatibility
    #--------------------------------------------------------------------------------------------------------#
    # Mod Compatibility
    ##########################################################################################################

    "mod compatibility" {
        # Prevent Charm Crate contents tooltip from being rendered by JEI Want That
        B:"Disable Modded Tooltips (Charm)"=true

        # Prevent Quark tooltip features from being rendered by JEI Want That
        B:"Disable Modded Tooltips (Quark)"=true

        ##########################################################################################################
        # antique atlas auto marker
        #--------------------------------------------------------------------------------------------------------#
        # Antique Atlas Auto Marker
        ##########################################################################################################

        "antique atlas auto marker" {
            # X Offset for Tooltips rendered in the World
            D:"Marker Icon Scale"=1.5

            # X Offset for Tooltips rendered in the World
            I:"Marker Icon X Offset"=12

            # Y Offset for Tooltips rendered in the World
            I:"Marker Icon Y Offset"=9

            # Base Height of the pole. In most other renders, it is the height of the entity.
            D:"Marker Pole Height"=-1.0

            # The Player's eye height will be added to the base height
            B:"Marker Pole Height - Player Eye Height"=true

            # Display the list of enchantments traded from the nearest valid Marker
            # All valid Markers are best guesses and may not be related to the Villager at all.
            # Render options based on main "World Tooltip" config
            B:"Villager Enchantments"=true

            # Display any markers with the type specified in AAAM's "Enchantments" Config
            # Render options are here in with the various "Marker" configs
            B:"Villager Enchantments - Display Valid Markers"=true

            # The maximum distance from the Villager that a Marker can be.
            # Markers may not be at Villager coordinates.
            D:"Villager Enchantments - Distance From Marker"=5.0

            # If line of sight is considered for valid Markers.
            # Valid Markers will be the closest one within Line of Sight
            # If none are found, the closest Marker is considered Valid
            B:"Villager Enchantments - Line Of Sight"=false

            # The point where the tooltip will bend to "face" the player.
            # Valid values:
            # NONE
            # BASE
            # INFO
            S:"World Marker Hinge Point"=INFO

            # Alternates the "Full Tooltip" Key behavior
            # 	ON - Holding/Toggle shows Marker Icon + Label
            # 	OFF - Holding/Toggle only shows Marker Icon
            B:"World Markers Alternate Full Tooltip Behavior"=false
        }

    }

    ##########################################################################################################
    # enchantment searching
    #--------------------------------------------------------------------------------------------------------#
    # Enchanted Book and Enchanted Item Searching
    ##########################################################################################################

    "enchantment searching" {
        # Item IDs for JEI Bookmarked items. These items have all their Applied Enchantments added to the search.
        S:"Bookmarked Item IDs" <
            
         >

        # All Enchantment Books will be shown
        B:"Match Any Book"=true

        # If an item has Applied Enchantments, display only the top one
        B:"Search Applied Top Only"=true

        # If an item has Applied Enchantments, display the enchantments
        B:"Search Applied on Items"=true
    }

    ##########################################################################################################
    # tooltip searching
    #--------------------------------------------------------------------------------------------------------#
    # Item Tooltip Searching
    ##########################################################################################################

    "tooltip searching" {
        # Lang Keys to check for and display from Tooltips. Does not support any lang key with one or more parameters.
        S:"Lang Keys" <
            item.unbreakable
         >

        # Regular Expression Patterns to check and display from Tooltips
        S:"Regex Patterns" <
            .*Sockets.*
         >

        # Items in JEI's filtered search result will be marked
        B:"Use JEI Filtered Search"=false
    }

    ##########################################################################################################
    # tile entity searching
    #--------------------------------------------------------------------------------------------------------#
    # Tile Entity Searching
    ##########################################################################################################

    "tile entity searching" {
        # Backpacks will be marked regardless of line of sight
        B:"Always Show Backpacks (Wearable Backpacks)"=true

        # Crates will be marked regardless of line of sight
        B:"Always Show Crates (Charm)"=true

        # Discovered Waystones will be marked regardless of line of sight
        B:"Always Show Known Waystones (Waystones)"=true

        # Natural Waystones will be marked regardless of line of sight
        B:"Always Show Natural Waystones (Waystones)"=false

        # Shulker Boxes will be marked regardless of line of sight
        B:"Always Show Shulker Boxes"=true

        # If a bookmarked item is also a Tile Entity, mark them in the World Tooltip Overlay
        B:"Search Tile Entities"=true
    }

    ##########################################################################################################
    # entity searching
    #--------------------------------------------------------------------------------------------------------#
    # Entity Searching
    ##########################################################################################################

    "entity searching" {
        # Display the location of entities when their Spawn Egg is Bookmarked
        B:"Search Spawn Eggs"=false

        # Alternates the "Full Tooltip" Key behavior
        # 	ON - Holding/Toggle shows Name
        # 	OFF - Holding/Toggle shows Spawn Egg
        B:"World Alternate Full Tooltip Behavior"=true
    }

    ##########################################################################################################
    # villager searching
    #--------------------------------------------------------------------------------------------------------#
    # Villager Searching
    ##########################################################################################################

    "villager searching" {
        # Villager Profession Registry Names to search for, supports wildcards.
        # 	minecraft:* - All vanilla
        # 	* - All registered
        # Note: Some mods do not register Professions and must be fully specified.
        S:"Professions to Find" <
            minecraft:librarian
            iceandfire:fisherman
            iceandfire:shaman
         >

        # Item given to RenderTooltipEvent for styling the Tooltip
        S:"RenderTooltipEvent Item"=minecraft:record_cat , 0

        # Display the location of Villagers whose profession is specified in the list of "Professions to Find"
        B:"Search Villager Professions"=true

        # Alternates the "Full Tooltip" Key behavior
        # 	ON - Holding/Toggle shows Profession Registry ID
        # 	OFF - Holding/Toggle shows Name
        B:"World Alternate Full Tooltip Behavior"=false
    }

    ##########################################################################################################
    # client options
    #--------------------------------------------------------------------------------------------------------#
    # Client-Side Options
    ##########################################################################################################

    "client options" {
        # What to display when there are no simplified tooltips to display.
        # 	ITEM_STACK - Item Icon and Stack size
        # 	DISPLAY_NAME - Item Display Name
        # 	NONE - A simple bar
        # Valid values:
        # ITEM_STACK
        # DISPLAY_NAME
        # NONE
        S:"Empty Tooltip Render"=ITEM_STACK

        # JEI Want That Keybinds will toggle functions. Else they will need to be held down.
        B:"Handle Keybinds As Toggles"=false

        # Desired items Items be overlay a contrasting background in Inventory with the "Enable Display" Key
        B:"Inventory Background for Desirable"=true

        # The contrasting background will not be shown and only the border effect will be shown
        B:"Inventory Background for Desirable - Border Only"=true

        # ARGB Hexadecimal Color Code, can be exactly specified, invalid values default to 0x80000000.
        # Recommended to modify "Inventory Darken - Color Visibility"
        S:"Inventory Darken - Base Color"=00000000

        # Presets to modify the color visibility, the default Base Color is black 0x00000000
        # The value is added to the base value, use TRANSPARENT for full control of custom colors
        # Valid values:
        # TRANSPARENT
        # LESS
        # NORMAL
        # MORE
        # SOLID
        S:"Inventory Darken - Color Visibility"=LESS

        # Non-Desired Items will be darkened in Inventory with the "Enable Display" Key
        B:"Inventory Darken Non-Desirable"=false

        # ARGB Hexadecimal Color Code, can be exactly specified, invalid values default to 0x80000000.
        # Recommended to modify "Inventory Lighten - Color Visibility"
        S:"Inventory Lighten - Base Color"=4480FF80

        # Presets to modify the color visibility, the default Base Color is white 0x00FFFFFF
        # The value is added to the base value, use TRANSPARENT for full control of custom colors
        # Valid values:
        # TRANSPARENT
        # LESS
        # NORMAL
        # MORE
        # SOLID
        S:"Inventory Lighten - Color Visibility"=TRANSPARENT

        # Desired Items will be lightened in Inventory with the "Enable Display" Key
        B:"Inventory Lighten Desirable"=true

        # How much distance affects the size of the Tooltip Render
        D:"World Distance Scale Factor"=0.20000000298023224

        # FOV for World Tooltips is calculated using this value added to the game's FOV setting.
        # Other mods may affect the camera and this helps tweak it.
        # Lower FOV renders less and higher renders more.
        I:"World FOV Modifier"=30

        # The point where the tooltip will bend to "face" the player.
        # Valid values:
        # NONE
        # BASE
        # INFO
        S:"World Hinge Point"=BASE

        # Allows Item Icons to be rendered through blocks, will cause certain items to layer incorrectly.
        # Incorrect visuals include enchantment glints and 3d models such as chests.
        B:"World Item Icons Render Through Blocks"=true

        # Minimum Distance before Tooltip Render will be scaled based on distance
        D:"World Minimum Distance For Scaling"=8.0

        # The "Modified Tooltip" Key behavior
        # 	HIDE_POLE - Pole is not rendered
        # 	MOVE_UP_ALL - Pole and tooltip moved up
        # 	MOVE_UP_POLE - Pole shortened
        # Valid values:
        # HIDE_POLE
        # MOVE_UP_ALL
        # MOVE_UP_POLE
        S:"World Modified Tooltip Key Behavior"=HIDE_POLE

        # Whether the mouse can target blocks, else it can only select entities.
        B:"World Mouse Target Blocks"=true

        # Maximum Distance where the mouse can be pointed to bring the closest tooltips to the foreground.
        # Min: 4.9E-324
        # Max: 128.0
        D:"World Mouse Target Range"=32.0

        # Completely disable the Pole from rendering
        B:"World Pole Disable"=false

        # Scale for the Pole Render Width
        D:"World Pole Scale"=1.0

        # Base Scale for the Tooltip Render
        D:"World Tooltip Base Scale"=0.02500000037252903

        # X Offset for Tooltips rendered in the World
        I:"World X Tooltip Offset"=0

        # Y Offset for Tooltips rendered in the World
        I:"World Y Tooltip Offset"=28

        ##########################################################################################################
        # inventory item preview tooltips
        #--------------------------------------------------------------------------------------------------------#
        # Displays when using the "Modified Tooltip" and "Full Tooltip" Key
        ##########################################################################################################

        "inventory item preview tooltips" {
            # Tooltips on the left side will be layered on top of right side ones
            B:"Display Left Over Right"=false

            # Tooltips on the top side will be layered on top of bottom side ones
            B:"Display Top Over Bottom"=false

            # When hovering over a slot, items on the specified side will not display tooltips
            # 	NONE - Does not hide any
            # Valid values:
            # LEFT
            # RIGHT
            # NONE
            S:"Hide Horizontal"=NONE

            # When hovering over a slot, items on the specified side will not display tooltips
            # 	NONE - Does not hide any
            # Valid values:
            # TOP
            # BOTTOM
            # NONE
            S:"Hide Vertical"=NONE

            # Which Tooltip to render with the "Modified Tooltip" or "Full Tooltip" Key.
            # 	VERTICAL - Items in the same column as the hovered slot
            # 	HORIZONTAL - Items in the same row as the hovered slot
            # 	ALL - All Items
            # Valid values:
            # VERTICAL
            # HORIZONTAL
            # ALL
            S:"Key Bind Behavior"=VERTICAL

            # If true, the tooltip is rendered on the left side of the item
            B:"Tooltip Position Left Side"=false

            # The rotation of the tooltip in degrees
            D:"Tooltip Rotation Angle"=0.0

            # X Offset for Tooltips rendered in the Inventory
            I:"Tooltip X Offset"=0

            # Y Offset for Tooltips rendered in the Inventory
            I:"Tooltip Y Offset"=8
        }

    }

}


