# Configuration file

general {
    # This will prevent Recurrent Complex from generating structures in the Mind Palace Dimension.
    B:"Compat - Disable Recurrent Complex"=true

    # Traveling to/from MP will not increase evolution points if this is enabled
    B:"Compat - SRP no sleep points"=true

    # Will save the original position of the player when traveling to the mind palace using waystones/warp scrolls, so players can return using their bed and will be kicked normally after 10 minutes.
    B:"Compat - Waystones Travel"=true

    # Add Dimension ids from which players are not allowed to travel to their mind palace.
    I:"Dimension Blacklist" <
     >

    # If set to true, will stop any Explosions inside Mind Palace
    B:"Disallow Explosions"=true

    # If set to true, will stop any Living Entity spawn inside Mind Palace
    B:"Disallow Mobs"=true

    # If set to true, will force players to dismouunt (from Boats etc) inside Mind Palace when being kicked or relocated.
    B:"Disallow Mounted State"=false

    # Players will only teleport to their Mind Palace when going to sleep if they hold this item in main- or offhand. To disable teleporting via sleep entirely, clear this value.
    S:"Held Item"=minecraft:clock

    # How many ticks the player is allowed to stay inside the Mind Palace. This is meant mainly as a safety switch to prevent softlocks. Set to -1 to disable fully (use crafttweaker compat to add your own safety exit).
    # Min: -1
    # Max: 2147483647
    I:"Max Stay Ticks"=12000

    # How many ticks the player has to be sleeping in a bed until they get teleported.
    # Min: 0
    # Max: 99
    I:"Min Sleep Time"=90

    # Each palace will be a cube of [size x size x size] air blocks surrounded by bedrock
    # Min: 2
    # Max: 254
    I:"Palace Size"=5

    # How many ticks the player cannot travel to the Mind Palace again after having traveled there last (default: one whole night, 10 minutes). Set to -1 to disable and always allow entering.
    # Min: -1
    # Max: 2147483647
    I:"Travel Delay"=10000

    # The mind palaces walls, floor and ceiling will be made from this block. Breaking this block will not be allowed in the mind palace dimension, so do not use a block a player could manually place and want to remove again.
    S:"Wall Block"=minecraft:bedrock

    # The Mind Palace dimension will try to repair all mind palace bedrock walls every this many ticks. Increase if there's performance issues.
    # Min: 1
    # Max: 2147483647
    I:"Wall Repair Speed"=10
}


