# Configuration file

general {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General settings
    ##########################################################################################################

    general {
        # A list of mobs that will always be treated as 'burning' for this mod's logic.
        # This means they can trigger all enabled effects without being visually on fire.
        # Use the mob's id name, e.g., 'minecraft:blaze', 'minecraft:magma_cube'.
        S:"Always Burning Mobs" <
            minecraft:blaze
            minecraft:magma_cube
         >
    }

    ##########################################################################################################
    # melee attack combustion
    #--------------------------------------------------------------------------------------------------------#
    # Settings for burning mobs setting other entities on fire through melee attacks.
    ##########################################################################################################

    "melee attack combustion" {
        # Enable this to allow burning mobs to set their targets on fire with melee attacks.
        B:Enabled=true

        # How long (in seconds) the target will burn when ignited by an attack.
        # Min: 1
        # Max: 2147483647
        I:"Fire Duration"=5

        # The chance (as a percentage, 0-100) for a burning mob to set its target on fire when attacking.
        # Min: 0
        # Max: 100
        I:"Ignition Chance"=20
    }

    ##########################################################################################################
    # collision combustion
    #--------------------------------------------------------------------------------------------------------#
    # Settings for burning mobs setting other entities on fire by colliding with them.
    ##########################################################################################################

    "collision combustion" {
        # Enable this to allow burning mobs to set other mobs on fire by touching them.
        B:Enabled=true

        # The chance per 1 tick (from 0.0 to 1.0) for a burning mob to ignite another mob on collision.
        # 0.0 = 0%, 1.0 = 100%.
        # Min: 0.0
        # Max: 1.0
        D:"Ignition Chance"=0.30000001192092896
    }

    ##########################################################################################################
    # passive burning mob fire spreading
    #--------------------------------------------------------------------------------------------------------#
    # Settings for burning mobs passively placing fire in the world around them.
    ##########################################################################################################

    "passive burning mob fire spreading" {
        # The chance (as a percentage, 0-100) for a burning mob to set it's surroundings on fire.
        # Min: 0
        # Max: 100
        I:"Block Ignition Chance"=20

        # Enable this to allow burning mobs to periodically place fire blocks around them.
        B:Enabled=true

        # The radius (in blocks) around a burning entity where fire can be randomly placed.
        # Min: 1
        # Max: 32
        I:"Fire Placement Radius"=3

        # How often (in ticks) a burning mob tries to place a fire block.
        # 20 ticks = 1 second.
        # Min: 1
        # Max: 2147483647
        I:"Tick Interval"=20
    }

    ##########################################################################################################
    # projectile effects
    #--------------------------------------------------------------------------------------------------------#
    # Settings related to arrows fired by burning mobs.
    ##########################################################################################################

    "projectile effects" {
        # Enable this to make arrows shot by 'burning' mobs become flaming arrows.
        B:"Burning Mobs Shoot Flaming Arrows"=true

        # Enable this to make flaming arrows create fire when they hit a block.
        B:"Flaming Arrows Create Fire on Impact"=true
    }

}


