# Configuration file

~CONFIG_VERSION(general): 1.0

general {
    Champions {
        # Will cap out added dmg for champions to a modifiable amount.
        # When base dmg above threshold, will add flat damage instead of multiplying.
        # Default: true
        B:"Cap Increased Damage (MixinToggle)"=true

        # Champions will not be able to get more added damage than this value times the growthFactor of their rank.
        # Example: A 5 star with growthFactor of 15 wont get more than +750 dmg.
        # The breakpoint is reached at this value divided by champions attackDamage cfg,
        #  so by default 50/0.5 = 100 base dmg
        # Min: 0.0 Max: 1.7976931348623157E308 Default: 50.0
        D:"Damage Cap per growthFactor"=50.0
    }

    # Mixin Toggles
    "Mixin Toggles" {
        # Makes ZenUtils not depend on ConfigAnytime.
        # Default: true
        B:"Remove ConfigAnytime Dependency (MixinToggle)"=true
    }
}


