# Configuration file

~CONFIG_VERSION(general): 1.0

general {
    Champions {
        # Will cap out added dmg for champions to a modifiable amount.
        # When base dmg above threshold, will add flat damage instead of multiplying.
        # Default: true
        B:"Cap Increased Damage (MixinToggle)"=true

        # Champions will not be able to get more added damage than this value times the growthFactor of their rank.
        # Example: A 5 star with growthFactor of 15 wont get more than +750 dmg.
        # The breakpoint is reached at this value divided by champions attackDamage cfg,
        #  so by default 50/0.5 = 100 base dmg
        # Min: 0.0 Max: 1.7976931348623157E308 Default: 50.0
        D:"Damage Cap per growthFactor"=50.0
    }

    "Distant Horizons" {
        # Makes DistantHorizons not depend on MixinBooter.
        # Default: true
        B:"Remove MixinBooter Dependency (ASM Toggle)"=true
    }

    "In Control!" {
        # If your installed profile is in a path containing "curseforge", all mobs would be matched to forge -> minecraft modid by incontrols modid check. This fixes it.
        # Default: true
        B:"Fix mod rules"=true
    }

    "Mod Containers" {
        # List of classes to replace ConfigAnytime.register with zenutils ConfigAnytimeAnytime.register
        # Default: [youyihj.zenutils.impl.core.Configuration, git.jbredwards.baubleye.PatchConfigs]
        S:"ConfigAnytime Dependency Replacements (ASM Toggle)" <
            youyihj.zenutils.impl.core.Configuration
            git.jbredwards.baubleye.PatchConfigs
        >

        # Map of modids to dependencies that should be removed.
        # This will not magically remove actual dependencies, just the declaration in @Mod or mcmod.info
        "Removed declared Dependencies" {
            S:zenutils <
                configanytime
            >
            S:distanthorizons <
                mixinbooter
            >
        }
    }

    Vanilla {
        # Replaces enchanted books with enchanted inkwells in villager trades.
        # Has a configurable chance to replace with an enchanted inkwell from Enchanter Tools mod.
        # Default: true
        B:"Enchanted Inkwell Villager Trades (MixinToggle)"=true

        # Chance to replace enchanted books with max enchanted inkwells.
        # Min: 0 Max: 1 Default: 0.01
        D:"Inkwell Replace Chance"=0.01
    }
}


