# Configuration file

general {
    # 5 Star Champions will always drop one enchanted book from this list
    S:"Champion *5 Enchant List" <
        somanyenchantments:supremesharpness
        somanyenchantments:supremesmite
        somanyenchantments:supremebaneofarthropods
        somanyenchantments:strengthenedvitality
        somanyenchantments:advancedmending
        somanyenchantments:advancedprotection
        somanyenchantments:spellbreaker
        somanyenchantments:penetratingedge
        somanyenchantments:advancedluckofthesea
        somanyenchantments:advancedlure
        somanyenchantments:advancedefficiency
        somanyenchantments:advancedpower
        somanyenchantments:ancientswordmastery
        somanyenchantments:ancientsealedcurses
        somanyenchantments:mortalitas
     >
    D:"Dragonbone Lockpick Strength"=0.97
    D:"Fairy Block Chance"=0.2
    D:"Fire removes COTH Chance"=0.2
    D:"Lockpick Pitch Multi"=0.5
    I:"Min Phase Blood Moon"=3

    # How long it takes to load the VC Musket. Default 60t = 3s.
    # Min: 0
    # Max: 100
    I:"Musket Loading Ticks"=20

    # Integer multiplier for biome patch size in the Nether. Default 3 = big biomes
    # Min: 0
    # Max: 10
    I:"Nether Biome Size"=1
    D:"Phase 9+10 Champion Increase"=0.5
    D:"Phase 9+10 Infernal Increase"=0.5

    # Familiar Fauna Pixies wont spawn higher than this y value. Default 90
    # Min: 0
    # Max: 256
    I:"Pixie Max Spawn Height"=110

    # The EBWizardry spells Mine, Black Hole and Phase Step can't affect these blocks.
    S:"Spell Block Blacklist" <
        minecraft:mob_spawner
        minecraft:chest
     >

    # ShyCraft uses a more difficult crafting recipe for dragon gems, which can be enabled here.
    B:"Use ShyCraft Dragon Gem Recipe"=false

    # ShyCraft moves the titan ring to dragon(+taurus) chests, replacing it with a dwarf ring.
    B:"Use ShyCraft Ring Distribution Rules"=false

    locks {
        # Under normal conditions this is the chance to keep the lockpick on failure
        # Min: 0.0
        # Max: 2.0
        D:"Dragonbone Lockpick Strength"=0.97

        # By how much to multiply the pitch of the lock pick fail sound to indicate you are right next to it. Default 1.25
        # Min: 0.1
        # Max: 2.5
        D:"Lockpick Pitch Multi"=0.5
    }

    srp {
        # 0.2=20%
        # Min: 0.0
        # Max: 1.0
        D:"Fire removes COTH Chance"=0.2

        # There can be no bloodmoon if everyone in overworld is below this phase
        # Min: 0
        # Max: 10
        I:"Min Phase Blood Moon"=3

        # 0.5=+50%, is active at both phase 9+10
        # Min: 0.0
        # Max: 20.0
        D:"Phase 9+10 Champion Increase"=0.5

        # 0.5=+50%, is active at both phase 9+10. Only works approximately as we work with the integer weights of infernalmobs cfg
        # Min: 0.0
        # Max: 20.0
        D:"Phase 9+10 Infernal Increase"=0.5
    }

    trinkets {
        # Chance to fully ignore attacks. 0.2=20%
        # Min: 0.0
        # Max: 1.0
        D:"Fairy Block Chance"=0.2

        # Minimum amount of extra (added) dmg applied when a trinkets race wields a weapon of their affinity
        D:"Race Weapon Dmg Add Min"=3.0

        # Dmg multiplier applied when a trinkets race wields a weapon of their affinity
        D:"Race Weapon Dmg Multi"=1.25

        ##########################################################################################################
        # race weapon affinities
        #--------------------------------------------------------------------------------------------------------#
        # Which (spartan/BS) weapon type each trinkets race has an affinity for and gets +25% dmg
        ##########################################################################################################

        "race weapon affinities" {
            S:Dragon <
                katana
                longsword
                warhammer
             >
            S:Dwarf <
                hammer
                battleaxe
             >
            S:Elf <
                saber
                lance
                staff
             >
            S:Faelis <
             >
            S:Fairy <
                spear
                pike
             >
            S:Goblin <
                dagger
                rapier
             >
            S:Taurus <
                scythe
                halberd
                glaive
             >
            S:Titan <
                greatsword
                mace
             >
            S:Unused <
                nunchaku
             >
        }

    }

}


