# Configuration file

general {
    # Enable Pinata mobs feature. If false, no new Pinata mobs will spawn.
    B:"Enable Pinata Mobs"=true

    # Makes Pinata Entity Blacklist into a Whitelist.
    B:"Invert Pinata Entity Blacklist"=false

    # Maximum amount of clones spawned when a Pinata mob dies.
    # Min: 1
    # Max: 100
    I:"Max Clone Count"=9

    # Minimum amount of clones spawned when a Pinata mob dies.
    # Min: 1
    # Max: 100
    I:"Min Clone Count"=3

    # A list of mobs that can't ever turn into a Pinata mob.
    S:"Pinata Entity Blacklist" <
        iceandfire:myrmex_egg
        iceandfire:dragonegg
        amphitheremod:amphithere_egg
     >

    # Chance for a mob to spawn as Pinata (0.0 to 1.0). 1.0 = 100%, 0.01 = 1%
    # Min: 0.0
    # Max: 1.0
    D:"Spawn Chance"=0.005
}


