# Configuration file

general {

    "infernal mobs" {
        # How many sockets an item dropped by elite tier infernalmobs can roll at maximum
        # Min: 0
        # Max: 2147483647
        I:"Elite Max Sockets"=2

        # Base chance for items dropped by elite tier infernalmobs to attempt to roll with sockets
        # Min: 0.0
        # Max: 1.0
        D:"Elite Socket Chance"=0.3

        # How many sockets an item dropped by infernal tier infernalmobs can roll at maximum
        # Min: 0
        # Max: 2147483647
        I:"Infernal Max Sockets"=4

        # Base chance for items dropped by infernal tier infernalmobs to attempt to roll with sockets
        # Min: 0.0
        # Max: 1.0
        D:"Infernal Socket Chance"=0.8

        # How many sockets an item dropped by ultra tier infernalmobs can roll at maximum
        # Min: 0
        # Max: 2147483647
        I:"Ultra Max Sockets"=3

        # Base chance for items dropped by ultra tier infernalmobs to attempt to roll with sockets
        # Min: 0.0
        # Max: 1.0
        D:"Ultra Socket Chance"=0.6
    }

    ##########################################################################################################
    # custom socketable item type rolls
    #--------------------------------------------------------------------------------------------------------#
    # Remove or modify rolls of these socketable item types.
    # Adding entries won't do anything.
    # Item Types are implemented internally using regex as follows.
    #  BS_WEAPON: mujmajnkraftsbettersurvival:item.*(dagger|nunchaku|hammer|)
    #  SW_CROSSBOW: spartan(defiled|fire|weaponry):crossbow_\w+
    #  DEFILED: defiledlands:(concussion_smasher|umbra_blaster|tears_flame|tears_shulker|the_ravager)
    #  TRIDENT: oe:trident
    ##########################################################################################################

    "custom socketable item type rolls" {
        I:BS_WEAPON=5
        I:DEFILED=2
        I:SW_CROSSBOW=3
        I:TRIDENT=2
    }

}


