# Configuration file

general {

    ##########################################################################################################
    # player damaged by mob
    #--------------------------------------------------------------------------------------------------------#
    # Options for Player Damaged By Mob Message Options
    ##########################################################################################################

    "player damaged by mob" {
        # When enabled and if the attackers damage to the player goes over the damage threshold it's gonna add to the message rage damage multi
        D:"Damage Threshold when to send message"=15.0

        # When enabled it's gonna send a report of the mobs damage that attacked the player if damage is over threshold
        B:"Enable Damage Taken Tracking"=true

        # When enabled it will show how much damage it was with rage
        B:"Show Rage Level"=true

        # When enabled it will show how much damage it was with viral
        B:"Show Viral Level"=true
    }

    ##########################################################################################################
    # player dealt damage
    #--------------------------------------------------------------------------------------------------------#
    # Options for Player Dealt Damage Message Options
    ##########################################################################################################

    "player dealt damage" {
        # The threshold needed to exceed for sending damage log message
        D:"Damage Dealt Threshold when to send message. player"=100.0

        # When enabled this is gonna send a damage report of the players damage that they deal to a mob
        B:"Enable Damage Tracking On Players Attacks"=false
    }

    ##########################################################################################################
    # potion effects
    #--------------------------------------------------------------------------------------------------------#
    # Options for Potion Effect Counter Options
    ##########################################################################################################

    "potion effects" {
        # When enabled it's going to send a message with count of active potion effects a mob has
        B:"Enable Potion Effect Count Tracker"=false

        # The minimum amount of potion effects mob needs to send the message
        I:"Potion Effect Threshold"=0
    }

}


