# Configuration file

general {
    B:"Disable Blight Pinata"=false
    B:"Disable Boss Pinata"=false
    B:"Disable Champion Pinata"=false
    B:"Disable Infernal Pinata"=false

    # Enable Pinata mobs feature. If false, no new Pinata mobs will spawn.
    B:"Enable Pinata Mobs"=true
    B:"Invert Pinata Entity Blacklist"=false

    # Maximum amount of clones spawned when a Pinata mob dies.
    # Min: 1
    # Max: 100
    I:"Max Clone Count"=12

    # Minimum amount of clones spawned when a Pinata mob dies.
    # Min: 1
    # Max: 100
    I:"Min Clone Count"=4

    # A list of mobs that can't ever turn into a Pinata mob.
    S:"Pinata Entity Blacklist" <
        iceandfire:myrmex_egg
        iceandfire:dragonegg
        amphitheremod:amphithere_egg
        lycanitesmobs:kobold
        minecraft:donkey
        minecraft:llama
        mod_lavacow:raven
        iceandfire:if_pixie
        iceandfire:if_mob_skull
        iceandfire:dragonskull
     >

    # Chance for a mob to spawn as Pinata (0.0 to 1.0). 1.0 = 100%, 0.01 = 1%
    # Min: 0.0
    # Max: 1.0
    D:"Spawn Chance"=0.009999999776482582
}


