#Disables all Varied Commodities recipes
DisableRecipes=false

#Disables all Varied Commodities enchantments
DisableEnchantments=true

#Damage from Machine Gun
MachineGunDamage=10

#Damage from Musket
MusketDamage=30

#Bonus knockback from Musket
MusketKnockback=3

#Holy Hand Grenade Explosion Strength
HolyHandGrenadeStrength=12.0

