#To deactivate an spec. Block, write the Block (for example minecraft:end_portal_frame) under Blocks.#
<Blocks>
srparasites:deadblood
biomesoplenty:blood
biomesoplenty:blue_fire
biomesoplenty:hot_spring_water
biomesoplenty:honey
biomesoplenty:sand
dimstack:bedrock
lycanitesmobs:doomfire
lycanitesmobs:hellfire
lycanitesmobs:primefire
lycanitesmobs:icefire
lycanitesmobs:shadowfire
lycanitesmobs:scorchfire
lycanitesmobs:frostfire
lycanitesmobs:poopcloud
lycanitesmobs:poisoncloud
lycanitesmobs:frostcloud
dynamictreesbop:magicbranch
dynamictreesbop:umbranbranch
dynamictreesbop:umbranbranchx
dynamictreesbop:firbranch
dynamictreesbop:firbranchx
dynamictreesbop:cherrybranch
dynamictreesbop:deadbranch
dynamictreesbop:jacarandabranch
dynamictreesbop:redwoodbranch
dynamictreesbop:willowbranch
dynamictreesbop:hellbarkbranch
dynamictreesbop:pinebranch
dynamictreesbop:palmbranch
dynamictreesbop:mahoganybranch
dynamictreesbop:mangrovebranch
dynamictreesbop:ebonybranch
dynamictreesbop:bamboobranch
dynamictreesbop:eucalyptusbranch
dynamictrees:oakbranch
dynamictrees:oakbranchx
dynamictrees:sprucebranch
dynamictrees:sprucebranchx
dynamictrees:birchbranch
dynamictrees:junglebranch
dynamictrees:junglebranchx
dynamictrees:acaciabranch
dynamictrees:darkoakbranch
dynamictrees:darkoakbranchx
dynamictrees:cactusbranch
dynamictreesdefiledlands:tenebrabranch
dttraverse:firbranch
rustic:olivebranch
rustic:ironwoodbranch
lycanitesmobs:moglava
lycanitesmobs:ooze
lycanitesmobs:poison
lycanitesmobs:acid
lycanitesmobs:rabbitooze
lycanitesmobs:sharacid
lycanitesmobs:vesspoison
lycanitesmobs:veshoney
rustic:olive_oil
rustic:ironberry_juice
rustic:wildberry_juice
rustic:grape_juice
rustic:apple_juice
rustic:ale_wort
rustic:honey
contenttweaker:carrot_juice
contenttweaker:coolant_fluid
contenttweaker:cement_fluid
nuclearcraft:rtg_uranium
nuclearcraft:rtg_plutonium
nuclearcraft:rtg_americium
nuclearcraft:rtg_californium>
nuclearcraft:decay_generator>
nuclearcraft:lithium_ion_battery_basic
nuclearcraft:lithium_ion_battery_advanced
nuclearcraft:lithium_ion_battery_du
nuclearcraft:lithium_ion_battery_elite
nuclearcraft:water_source_dense
nuclearcraft:ingot_block
nuclearcraft:fission_block
nuclearcraft:reactor_casing_transparent
nuclearcraft:cell_block
nuclearcraft:cooler
nuclearcraft:melter_idle
nuclearcraft:infuser_idle
nuclearcraft:alloy_furnace_idle
nuclearcraft:fuel_reprocessor_idle
nuclearcraft:decay_hastener_idle
nuclearcraft:isotope_separator_idle
nuclearcraft:manufactory_idle
nuclearcraft:nuclear_furnace_idle
nuclearcraft:reactor_trapdoor
nuclearcraft:fission_port
nuclearcraft:fission_controller_new_fixed
nuclearcraft:machine_interface
nuclearcraft:rock_crusher_idle
nuclearcraft:extractor_idle
nuclearcraft:dissolver_idle
nuclearcraft:salt_mixer_idle
nuclearcraft:chemical_reactor_idle
nuclearcraft:supercooler_idle
nuclearcraft:voltaic_pile_basic
nuclearcraft:voltaic_pile_advanced
nuclearcraft:voltaic_pile_du
nuclearcraft:voltaic_pile_elite
nuclearcraft:buffer
nuclearcraft:active_cooler
nuclearcraft:bin
nuclearcraft:helium_collector
nuclearcraft:helium_collector_compact
nuclearcraft:helium_collector_dense
nuclearcraft:water_source
nuclearcraft:water_source_compact
nuclearcraft:water_source_dense
nuclearcraft:radiation_scrubber
nuclearcraft:geiger_block
nuclearcraft:reactor_door_item
nuclearcraft:fluid_helium
nuclearcraft:fluid_liquidhelium
nuclearcraft:fluid_ethanol
nuclearcraft:fluid_radaway
nuclearcraft:fluid_radaway_slow
nuclearcraft:fluid_corium
nuclearcraft:fluid_sugar
nuclearcraft:fluid_redstone